.mpdf_table {
  border-collapse: collapse;
  color: #ff0000;
}

.mpdf_table th {
  text-align: center;
  border: 2px solid #0000ff;
  text-rotate: 45;
}

.mpdf_table td {
  /* padding: 10px 30px; */
  text-align: center;
  border: 2px solid #0000ff;
}